{% extends 'adminbase.html' %}


{% load static %}

{% block title %} admin - ManageMovie {% endblock %}

{% block template %}

<div class="right">
    <h1 style="margin-bottom: 0;">Manage Theater</h1>

    <div>
        <a href="{% url 'adminaddtheater' %}"><button class="add-user">Add Theater</button></a>
    </div>

    <div class="table-for-admin-user">
        <table id="customers">
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Location</th>
            <th>Total Seats</th>
            <th>Price</th>
            <th></th>
        </tr>
        {% for t in theater %}
        <tr>

            <td>{{ t.id }}</td> 
            <td><a class="username-admin-a" href="{% url 'adminedittheater' t.id %}">{{ t.name }}</a></td>
            <td>{{ t.location }}</td>
            <td>{{ t.totalseats }}</td>
            <td>{{ t.price }}</td>
            <td><a href="{% url 'admindeletetheater' t.id %}"><i class="fa-solid fa-trash" style="color: red;"></i></a></td>
            
        </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}

<!-- <td><a href="{% url 'adminmoviedelete' movieinfo.id %}"><i class="fa-solid fa-trash" style="color: red;"></i></a></td> -->